<ion-view class="home_page" view-title="Home" hide-nav-bar="true">
  <!--ion-header-bar>
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="goBack()">
    </button>

    <h1 class="title">Home</h1>
  </ion-header-bar-->

  <ion-content class="padding">
    <div class="list logo">
    </div>

    <div class="list" style="margin-top: 100px;">
        <a class="button button-block button-positive" href="#/myCard">My Cards</a>
    </div>

    <br />

    <div class="list">
        <a class="button button-block button-positive" href="#/redeemCard">Redeem Cards</a>
    </div>

  </ion-content>
</ion-view>
