<ion-view class="redeem_page" view-title="Redeem" hide-nav-bar="true">
  <ion-header-bar>
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()">
    </button>

    <h1 class="title">Redeem Cards</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list logo">
    </div>

    <div class="list" style="margin-top:100px;">
        <a class="button button-block button-positive" href="#" ng-click="scanQrcode()">Scan Qrcode</a>
    </div>

    <br />

    <div class="list">
        <a class="button button-block button-positive" href="#/serialRedeem">Enter Serial</a>
    </div>

  </ion-content>
</ion-view>
